html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  margin: 0;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  border-left: 1px solid #333;
  text-align: left;
  max-width: 25%;
  height: 425px;
  background-color: #e2e2e2;
}

.cards:last-child {
  border-right: 1px solid #333;
}

.cards ul {
  margin: 0 auto 2rem;
  padding: 0;

}

.cards li {
  list-style-type: none;
  margin: 0;
}

.text {
  margin: 0;
  padding: .75rem;
}

.btn {
  text-decoration: none;
  font-size: .875rem;
  color: #fff;
  padding: .4em .75em .3em;
  margin: 0;
  background-color: #333;
  border: 3px solid #333;
  border-radius: 8px;
}

.btn:hover {
  background-color: #000;
  border: 3px solid #000;
}

.btn-small {
  background-color: #333;
  border: 3px solid #333;
}

.title {
  font-weight: bold;
}

.author {
  font-style: italic;
  font-size: .875rem;
}

.card2 {
  background-color: #ccc;
}

.card3 {
  background-color: #aaa;
}

.card4 {
  background-color: #999;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
